:root {
    --text-size: 2rem;
    --text-size-small: 1rem;
    --text-size-common: 1.8rem;
    --text-size-big: 2.8rem;
}

.vscode {
    --main-color: #007acc;
    --sub-color: #4c4c4c;
    --text-color: #d4d4d4;
    --main-bg-color: #1d1d1d;
    --sub-bg-color: #151515;
    --incorrect-color: #ee4545;
}

.dino {
    --main-color: #46d776;
    --sub-color: #d5d5d5;
    --text-color: #1d221f;
    --main-bg-color: #ffffff;
    --sub-bg-color: #cafad8;
    --incorrect-color: #ff5f5f;
}