.select {
  position: relative;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.select:hover .select__body{
  display: block;
}
.select:focus .select__body{
  display: none;
}
.select__header {
  height: 100%;
}
.select__body {
  display: none;
  width: 100%;
  height: 200%;
  border: 1px solid gray;
  border-radius: 5px;
  top: 100%;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  overflow: hidden;
}
.select__item {
  height: 50%;
  background-color: white;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select__item:hover {
  background-color: lightgrey;
}
.select__current {
  border: 1px solid gray;
  border-radius: 5px;
  height: 100%;
  align-items: center;
}
