.game-result-statistic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .base-info {
  }
  .graph {
    background: var(--sub-bg-color);
    height: 100%;
    flex: 1;
  }
  .extra-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.info-item {
  &.small {
    font-size: 12px;
  }
  &.common {
    font-size: 22px;
  }
  &.big {
    font-size: 32px;
  }
  .name {
    color: var(--sub-color);
  }
  .value {
    color: var(--main-color);
    font-size: 2em;
  }
}
