@import url("../../styles/themes.scss");

.training-page {
  .modal {
    height: 450px;
    width: 700px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px 50px;
    div {
      position: relative;
      border-radius: 10px;
    }
    .modal-header {
      text-align: center;
      .info {
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
        padding: 10px;
        .info-item {
          padding: 5px;
          border: 1px solid var(--gray-light);
          border-radius: 5px;
          u {
            cursor: pointer;
          }
        }
        display: flex;
        justify-content: space-evenly;
      }
    }
    .modal-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--gray-dark);
    }
    .modal-footer {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: var(--gray-light);
      height: 10%;
      span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .input {
    margin: 20px;
    display: flex;
    justify-content: center;
    &__input-field {
      position: relative;
      overflow: hidden;
      text-align: center;
      width: 80%;
      padding: 10px;
      border-bottom: 2px solid var(--key_text-color);
      font-size: 26px;
      .input__input-text {
        position: relative;
        display: flex;
        justify-content: center;
        .slide {
          position: absolute;
          left: 50%;
          bottom: 0;
          height: 34px;
          background-color: var(--key_text-color);
          width: 2px;
          animation: infinite shadow 1s ease;
        }
        .value {
          color: var(--right-key_text-color);
          display: flex;
          justify-content: flex-start;
          white-space: pre;
          width: 50%;
          text-align: center;
          gap: 0;
        }
        .dark {
          display: flex;
          justify-content: flex-end;
          color: var(--key_text-color);
        }
        .char {
          margin: 1px;
          display: inline-block;
        }
      }
      &__overlay {
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(124, 124, 124, 0.5);
      }
    }
  }
  .keyboard {
    --key_size: 9px;
    display: grid;
    grid-template-columns: repeat(60, var(--key_size));
    grid-template-rows: repeat(20, var(--key_size));
    gap: calc(var(--key_size) / 3);
    justify-content: center;
    align-items: center;
    .key {
      transition: ease-out 0.3s background-color;
      font-weight: 400;
      height: 100%;
      border-radius: 5px;
      font-size: calc(var(--key_size) * 1.5);
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 4 span;
      grid-row: 4 span;

      color: var(--key_text-color);
      background-color: var(--key_bg-color);
      border: var(--key_border);
    }
    .rightKey {
      color: var(--right-key_text-color);
      background-color: var(--right-key_bg-color);
      border: var(--right-key_border);
    }
    .wrongKey {
      color: var(--wrong-key_text-color);
      background-color: var(--wrong-key_bg-color);
      border: var(--wrong-key_border);
    }
    .activeKey {
      color: var(--active-key_text-color);
      background-color: var(--active-key_bg-color);
      border: var(--active-key_border);
    }
    .Backspace,
    .CapsLock,
    .Enter {
      grid-column: 8 span;
    }
    .ShiftLeft,
    .ShiftRight {
      grid-column: 10 span;
    }
    .ControlLeft,
    .ControlRight,
    .Windows,
    .Tab,
    .Backslash {
      grid-column: 6 span;
    }
    .AltRight,
    .AltLeft {
      grid-column: 5 span;
    }
    .Space {
      grid-column: 24 span;
    }
  }
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes shadow {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
