.white-theme {
  --content_text-color: #1e1e1e;
  --content_bg-color: white;

  --header_text-color: #363636;
  --header_bg-color: darkgray;

  --key_text-color: gray;
  --key_bg-color: transparent;
  --key_border: 1px solid gray;

  --right-key_text-color: #363636;
  --right-key_bg-color: #d4d4d4;
  --right-key_border: 1px solid #363636;

  --active-key_text-color: #2f3d4f;
  --active-key_bg-color: #6495ed;
  --active-key_border: 1px solid #2f3d4f;

  --wrong-key_text-color: brown;
  --wrong-key_bg-color: tomato;
  --wrong-key_border: 1px solid brown;
}
.dark-theme {
  //content
  --content_text-color: #d4d4d4;
  --content_bg-color: #1d1d1d;
  //header
  --header_text-color: #d4d4d4;
  --header_bg-color: #191919;
  // keys
  --key_text-color: #4d4d4d;
  --key_bg-color: transparent;
  --key_border: 1px solid #4d4d4d;

  --right-key_text-color: #d4d4d4;
  --right-key_bg-color: #616161;
  --right-key_border: 1px solid #d4d4d4;

  --active-key_text-color: #6495ed;
  --active-key_bg-color: #2f3d4f;
  --active-key_border: 1px solid #6495ed;

  --wrong-key_text-color: #ff4747;
  --wrong-key_bg-color: rgb(97, 44, 44);
  --wrong-key_border: 1px solid #ff4747;
}
