.light-theme {
  --gray-color: #5f6266;
  --blue-color: #4d6d9a;
  --lightgray-color: #86b3d1;
  --green-color: #99ced3;
  --pink-color: #edb5bf;


  --color-text-primary: black;
  --color-text-secondary: black;
}
