.text-field {
  width: 100%;
  letter-spacing: 0;
  font-size: 2rem;
  line-height: 3rem;
  max-height: 9rem;
  overflow: hidden;
  flex: 1;
  position: relative;

  .text {
    position: absolute;
    top: calc(var(--shift) * -39px);
    transition: 0.2s;
  }
  .pending-text {
    color: var(--sub-color);
  }
  .current-char {
    color: var(--sub-color);
    text-decoration: underline;
  }
  .completed-text {
    color: var(--main-color);
  }
}
