.game-result-panel {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex: 1;
  .icon {
    transition: 0.3s;
    fill: var(--sub-color);
    &:hover {
      fill: #fff;
    }
  }
}
