.home-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 20%;
  text-align: center;
  .title{
    
  }
  .btns{
    display: flex;
    gap: 20px;
  }
}
